.app {
  min-height: 100vh;
  display: flex;
  align-items: center;

  &__title {
    text-align: center;
    font-family: 'Exo2.0', sans-serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: 300;
    color: #ffffff;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px 0;
    margin: 0 -8px;

    @media (max-width: 1024px) {
      justify-content: space-around;
    }
  }

  &__card-item {
    max-width: 320px;
    margin: 0 8px;

    @media (max-width: 1024px) {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }
}
